:root {
  --primary-color: #A9B1BD;
  --secondary-color: #11B0C8;
  --accent-color: #E5EAF4;
  --accent-color-opacity-25: rgba(229, 234, 244, 0.25);
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
}